button {
    background-color: #3B5998;
    border: none;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    font-family: verdana;
}
button:hover {
    background-color: rgba(115, 136, 202,1);
}
input {
    width: 12%;
    padding: 5px 20px;
    margin: 1px 0;
    border-radius: 5px;
    font-size: 15px;
    font-family: verdana;
    border: 2px solid #667292;
    border-radius: 4px;
}
input:hover{
     border: 2px solid rgba(115, 136, 202,1)
}
textarea {
    width: 85%;
    padding: 5px 20px;
    margin: 1px 0;
    border-radius: 5px;
    font-size: 15px;
    font-family: verdana;
    border: 2px solid #667292;
    border-radius: 4px;
}
body {
    background-image: url("binomial.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-color: #cccccc;
    background-position: center top;
}
h1   {
    color: rgba(0, 38, 27, 1);
    font-family: verdana;
    font-size: 200%;
    text-align: center;
    border: 3px solid #667292;
    padding: 30px;
    magrin-top: 30px;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right:300px;
    border-radius: 10px;
    background-color:rgba(209, 221, 255,0.8);
}
h2   {
    color: rgba(30, 50, 114, 1);
    font-family: verdana;
    font-size: 175%;
}
p    {
    color: rgba(55, 76, 142,1);
    font-family: verdana;
    font-size: 110%;
    font-weight: bold;
}
.input {
    text-align: left;
    border: 3px solid #667292;
    padding-top: 10px;
    padding-left: 100px;
    padding-bottom: 20px;
    magrin-top: 30px;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right:300px;
    border-radius: 10px;
    background-color:rgba(226, 235, 255,0.75);
}
a    {
    color: rgba(55, 76, 142,1);
    font-family: Comic Sans MS;
    font-size: 110%;
    font-weight: bold;
}
a:visited{
    color: rgba(55, 76, 142,1);
    font-family: Comic Sans MS;
    font-size: 110%;
    font-weight: bold;
}
h3{
    color: rgba(255, 255, 255, 0.8);
    font-family: verdana;
    font-size: 75%;
    margin-left: 300px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: rgba(191, 215, 255,1);
}
input:focus + .slider {
  box-shadow: 0 0 1px rgba(191, 215, 255,1);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

select {
    background-color: rgba(191, 215, 255,0.5);
    border-radius: 7px;
    font-size: 15px;
    font-family: verdana;
    padding-left:10px;
    border: 2px solid #667292;
}
a:hover {
    color: rgba(115, 136, 202,1);
}