<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
<div class="container">
            <div class="title">
                <span><c>Fi</c><e>n</e><b>an</b><c>c</c><b>iA</b></b><c>L</c><f>&nbsp&nbsp</f><c>T</c><d>oo</d><e>L</e><b>B</b><c>oX</c></span>
            </div>

            <div class="list">
                <h2>Tool List:</h2>
                <ul>
                    <li>&nbsp&nbsp<a href="/main.html">Title page</a></li>
                    <p></p>
                    <li>&nbsp&nbsp<a href="/index.html">Paper trade system</a></li>
                    <p></p>
                    <li>&nbsp&nbsp<a href="/capmin.html">CAPM portfolio selctor</a></li>
                    <p></p>
                    <li>&nbsp&nbsp<a href="/binomial.html">Binomial option price estimator</a></li>
                    <p></p>
                </ul>
            </div>
    </div>

</body>
<footer>
    <h3>Background: https://www.pixiv.net/member_illust.php?mode=medium&illust_id=68637599</h3>
</footer>

</html>