<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/binomial.css">
</head>

<body>
    <div class="container">
            <div class="header">
                <h1 class="text-muted">Binomial Options Model Price Estimator</h1>
            </div>

            <div class="input">
                <h2>Binomial Output</h2>
                <p> The value of the option now is: {{price}} $</p>
                <p><button>Reset</button></p>
                <p><a href="/index.html">Visit our paper trade system</a> &nbsp&nbsp&nbsp <a href="/capmin.html">Visit our CAPM portfolio selctor</a> &nbsp&nbsp&nbsp <a href="/main.html">Title page</a></p>
            </div>
    </div>
</body>

<footer>
    <h3>Background: https://www.pixiv.net/member_illust.php?mode=medium&illust_id=66092976</h3>
</footer>

</html>